.subcategory {
    flex: 1.5;
}

.parent{    
    height: 540px;
    overflow-y: auto;
}

.card2{
    border: 1px outset black;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
}

.stext{
    font-weight: 700;
    font-size: 15px;
}

.card2:hover{
    background-color: #eee;
}