.node {
    flex: 7;
    /* background-image: url(./Screenshot\ \(59\).png); */
    /* background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover; */
    position: relative;
    color: white;
}

form {
    position: absolute;
    bottom: 0;
}

.date {
    position: absolute;
    bottom: 4px;
    right: 5px;
}

.input {
    background-color: black;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding: 16px;
    border: none;
    position: relative;
    outline: none;
    overflow-x: hidden;
    width: 79vw;
    box-shadow: 0 1px 1px 1px white;
}

.hidden {
    position: absolute;
    margin-left: -40px;
    background-color: transparent;
    color: rgb(18, 18, 157);
    font-weight: 900;
    font-size: 30px;
    border: none;
    width: 40px;
    cursor: pointer;
    height: 40px;
    display: none;
}

.visible {
    background-color: #000;
    position: absolute;
    margin-left: -40px;
    color: rgb(18, 18, 157);
    font-weight: 900;
    font-size: 30px;
    border: none;
    width: 40px;
    cursor: pointer;
    height: 40px;
}

.message {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
}

.box {
    background-color: rgba(1, 22, 66, 0.3);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 300px;
    max-width: 600px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.text {
    font-size: 18px;
    margin-bottom: 3px;
}

#node {
    height: 465px;
    overflow-y: auto;
}

.person {
    border-radius: 50px;
    width: 30px;
    height: 30px;
}