.person {
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.topbar {
    min-height: 45px;
    height: 8%;
}

#node {
    margin-left: auto;
    height: 91vh;
    overflow-y: auto;
    padding-bottom: 40px !important;
}

#node::-webkit-scrollbar {
    width: 0.1px;
    height: 0.1px
}

.plus {
    position: absolute;
    margin-left: -40px;
    margin-top: 11px;
    cursor: pointer;
    border: none
}

#node::-webkit-scrollbar-button {
    background: transparent
}

.hover {
    position: absolute;
    background: #000;
    display: none;
    flex-direction: column;
    padding: 5px 20px;
    align-items: center;
    box-shadow: -4px -4px 18px -8px;
    justify-content: center;
}

#node::-webkit-scrollbar-track-piece {
    background: transparent
}

#node::-webkit-scrollbar-thumb {
    background: transparent
}

.send {
    margin-left: -40px;
    margin-top: 11px;
    cursor: pointer;
}

.input {
    width: 80vw;
    outline: none;
}

@media(max-width:992px) {
    .input {
        width: 100vw;
    }
}

.parent {
    height: -webkit-fill-available;
}

.node {
    overflow: hidden;
    height: -webkit-fill-available;
}

@media (min-width:1400px) {
    .text {
        font-size: 65px;
    }
}