* {
  margin: 0;
  padding: 0;
}

.all {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  max-width: 1366px;
  width: 100%;
  max-height: 900px;
}

.sidebar-mobile {
  width: 100vw;
  border-right: 4px solid white;
}

.sidebar {
  border-right: 4px solid #fff;
  /* flex: 1; */
  width: 20%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 20%;
}

.rightbar-mobile {
  display: none;
}

@media (max-width:992px) {
  nav {
    width: 0;
  }

  .sidebar {
    display: none;
  }
}

@media(min-width:1400px) {
  .all {
    margin: auto;
  }
}

.select {
  width: 75vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:992px) {
  .sidebar-mobile {
    width: 20%;
  }

  .rightbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}